################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/MyFirstRepository/FileContentIndex/7f9891fd-0a45-4aa4-97c8-fbb7a67258ef.vsidx
/.vs/MyFirstRepository/FileContentIndex/read.lock
/.vs/slnx.sqlite
